

    

body{
    background-color: chartreuse;
    margin: auto;
}
h1{
    text-align: center;
}

table{
    border-collapse: collapse;
    width: 90%;
    margin: auto;
    text-transform: capitalize;
}

tr, td, th{
   
    border: 1px solid black;
    padding: 5px;
    font-size: xx-large;
}

ul{
    font-size: larger;
}

p{
    text-align: center;
    font-size: xx-large;
}

.retirer::after{
    background-color: rgb(166, 204, 27);
    content: "     retiré";
    text-align:right;
    margin: 10%;
    
}
